{% extends 'menu/base.html' %}

{% block title %}Strona główna - Pizza3miasto{% endblock %}

{% block content %}
    <div class="promo-banner">
         🍕 Twoja pizza na Ciebie czeka! Zamów już teraz! 🍕
    </div>
    
    <section class="features">
        <div class="feature">
            <h2>🔥 Pieczona w piecu</h2>
            <p>Spalona pizza nie jest przyczyną do złożenia reklamacji! </p>
        </div>
        <div class="feature">
            <h2>💰 Jest dobrze? Jest tanio! </h2>
            <p>Oferujemy pyszną pizzę w przystępnych cenach - jaka cena - taka jakość :) </p>
        </div>
        <div class="feature">
            <h2>🚀 Szybka dostawa</h2>
            <p>Złóż zamówienie w ciągu 5 nanosekund i zamówienie zostanie wysłane w ciągu 14 dni roboczych!</p>
        </div>
    </section>
{% endblock %}
